<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicaciones</title> 
    <link rel="stylesheet" href="/static/css_locations.css"> 
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="/templates/index.html" class="logo">
                <img src="/static//iconos/LOGOTOTAL.png" alt="Icono Coche">
            </a>
            <h1 class="title">ALQUILER LEPANTO</h1>
            <nav class="nav-links">
                <a href="/templates/locations.html">Ubicaciones</a>
                <a href="/templates/contact.html">Contacto</a>
                <a href="/templates/flota.html">Flota</a>
            </nav>
        </div>
    </header>
    
    <main class="locations-container">
        <section class="current-location">
            <h2>Ubicación Actual</h2>
            <div class="location-box">
                <div class="location-info">
                    <p><strong>Dirección:</strong>Calle Luis de Requesens, 1, Villarejo de Salvanés, 28590</p>
                    <a href="https://www.google.es/maps/place/IES+Ntra.+Sra.+de+la+Victoria+de+Lepanto/@40.1674795,-3.2790652,871m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd426f470447f75f:0xd098f15405b1fe5!8m2!3d40.1674754!4d-3.2764903!16s%2Fg%2F1td9rv3n?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Ver en Google Maps</a>
                </div>
                <div class="location-image">
                    <img src="/static/fotos locations/ies.jpg" alt="Villarejo">
                </div>
            </div>
        </section>

        <section class="upcoming-locations">
            <h2>Próximas Ubicaciones</h2>
            
            <div class="location-box">
                <div class="location-info">
                    <h3>Aeropuerto de Madrid</h3>
                    <p><strong>Dirección:</strong> Av de la Hispanidad, s/n, 28042 Madrid</p>
                    <a href="https://www.google.es/maps/place/Aeropuerto+Adolfo+Su%C3%A1rez+Madrid-Barajas/@40.4793095,-3.5948613,6933m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd4231d000000001:0x6e7725ea0f85ceef!8m2!3d40.4895147!4d-3.5642764!16zL20vMHBrcmo?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Ver en Google Maps</a>
                </div>
                <div class="location-image">
                    <img src="/static/fotos locations/barajas.jpg" alt="Aeropuerto de Madrid">
                </div>
            </div>

            <div class="location-box">
                <div class="location-info">
                    <h3>Aeropuerto de Barcelona</h3>
                    <p><strong>Dirección:</strong> El Prat de Llobregat,08820 Barcelona</p>
                    <a href="https://www.google.es/maps/place/Aeropuerto+Josep+Tarradellas+Barcelona-El+Prat/@41.2955978,2.0660932,3424m/data=!3m2!1e3!4b1!4m6!3m5!1s0x12a49e64847c8ea5:0xf32be942fb6f9bd7!8m2!3d41.2983405!4d2.0800095!16zL20vMDEzcTdy?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Ver en Google Maps</a>
                </div>
                <div class="location-image">
                    <img src="/static/fotos locations/prat.jpg" alt="Aeropuerto de Barcelona">
                </div>
            </div>

            <div class="location-box">
                <div class="location-info">
                    <h3>Estación de tren de Zaragoza</h3>
                    <p><strong>Dirección:</strong> C/ de Rioja, 33, 50011 Zaragoza</p>
                    <a href="https://www.google.es/maps/place/Estaci%C3%B3n+de+Zaragoza+Delicias+Adif/@41.6553755,-0.9268251,6810m/data=!3m2!1e3!5s0xd596b49870f6a37:0x89c3dfac9a2c297c!4m10!1m2!2m1!1sestacion+de+tren+zaragoza!3m6!1s0xd596b4c56ed72f3:0x81d77ad3c24924ca!8m2!3d41.6587015!4d-0.9112322!15sChllc3RhY2lvbiBkZSB0cmVuIHphcmFnb3phkgEQcmFpbHdheV9zZXJ2aWNlc-ABAA!16s%2Fg%2F11h__fc0mz?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Ver en Google Maps</a>
                </div>
                <div class="location-image">
                    <img src="/static/fotos locations/zaragoza.jpg" alt="Nueva Sede en Zaragoza">
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <!-- Servicios -->
            <div class="footer-section">
                <h3>Servicios</h3>
                <ul class="footer-list">
                    <li><a href="#">Alquiler de coches</a></li>
                    <li><a href="#">Alquiler de furgonetas</a></li>
                    <li><a href="#">Taller de mecánica</a></li>
                </ul>
            </div>
            <!-- Sedes -->
            <div class="footer-section">
                <h3>Sede Villarejo de Salvanés</h3>
                <p>Calle Luis de Requesens, 1</p>
                <p>Villarejo de Salvanés, 28590</p>
            </div>
            <!-- Redes Sociales -->
            <div class="footer-section">
                <h3>Síguenos en redes sociales</h3>
                <div class="footer-socials">
                    <a href="https://www.facebook.com/BMW.Espana/?locale=es_ES"><img src="/static/iconos/10462343.png" alt="Facebook"></a>
                    <a href="https://www.instagram.com/opel_spain/?hl=es"><img src="/static/iconos/10462345.png" alt="Instagram"></a>
                    <a href="https://es.linkedin.com/company/citroen"><img src="/static/iconos/10462330.png" alt="LinkedIn"></a>
                    <a href="https://x.com/mbenzesp"><img src="/static/iconos/10483410.png" alt="Twitter"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 - IAW</p>
            <p>
                <a href="#">Aviso legal</a> | 
                <a href="#">Política de Privacidad</a> | 
                <a href="#">Política de cookies</a>
            </p>
        </div>
    </footer>
</body>
</html>

