IDEA:

página con todos los coches que se pueden alquilar y que estén almacenados en la BDD +-25(foto y características...), que haya alguna manera de filtrar los coches que salen según las caracteristicas(si no es fumada)
cuando se seleccione un coche que de opcion de cuando alquilarlo y mande a un formulario donde pidan datos del usuario nombre tarjeta... y que aparezca el total del precio cuando se le de a pagar que lleve a una
pagina en la que ponga algo del estilo: pago realizado, pase a por su vehiculo(nombre del coche que alquila) de alquiler el dia XX(que seleccione) en calle falsa 123
